<%- include ('partials/header.ejs')%>

<div class="container">
    <br>
    <div id="titulo_pagina">
        <a href="/">
            <div id="voltar"><img src="imgs/seta.png" style="margin-top: 12px; margin-left: 12px" alt="" width="35"></div>
        </a>
        <h1>Cadastrar Colmeia</h1>
    </div>
    <br>
    
    <div class="card">
        <div class="card-body">
            <form action="/colmeia/new" method="POST">
                <label>Nome: </label>
                <input type="text" name="nome" id="nome" class="form-control" required><br>
                <label>Tipo de Abelha: </label>
                <input type="text" name="tipoAbelha" id="tipoAbelha" class="form-control" required><br>
                <label>Tamanho: </label>
                <input type="text" name="tamanho" id="tamanho" class="form-control" required><br>
        
                <br>
                <input type="submit" value="Cadastrar" class="btn btn-success">
                <input type="reset" value="Limpar" class="btn btn-warning">
            </form>
        </div>
    </div>
    
    <br><hr><br>

    <table class="table table-stripped" border="1">
        <thead>
            <th style="width: 150px; text-align: left;">Nome:</th>
            <th style="width: 200px; text-align: left;">Tipo Abelha:</th>
            <th style="width: 150px; text-align: left;">Tamanho:</th>
            <th style="width: 150px; text-align: left;">Ações:</th>
        </thead>
        <tbody>
            <% colmeias.forEach(colmeia => { %>
                <tr>
                    <td><%= colmeia.nome%></td>
                    <td><%= colmeia.tipoAbelha%></td>
                    <td><%= colmeia.tamanho%></td>
                    <td><a href="/colmeia/edit/<%=colmeia.id %>">Editar</a></td>
                    <td><a onclick="return confirm('Deseja mesmo excluir a colmeia <%= colmeia.nome %>?')" href="/Colmeia/delete/<%= colmeia.id %>">Excluir</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('partials/footer.ejs')%>