<%- include ('partials/header.ejs')%>

<div class="container">
    <h1>Cadastrar Colmeia</h1>
    <form action="/colmeia/new" method="POST">
        <label>Nome: </label>
        <input type="text" name="nome" id="nome" required>
        <label>Tipo de Abelha: </label>
        <input type="text" name="tipoAbelha" id="tipoAbelha" required>
        <label>Tamanho: </label>
        <input type="text" name="tamanho" id="tamanho" required>

        <input type="submit" value="Cadastrar">
        <input type="reset" value="Limpar">

    </form>
    <br><hr><br>

    <table>
        <thead>
            <th style="width: 150px; text-align: left;">Nome:</th>
            <th style="width: 200px; text-align: left;">Tipo Abelha:</th>
            <th style="width: 150px; text-align: left;">Tamanho:</th>
            <th style="width: 150px; text-align: left;">Ações:</th>
        </thead>
        <tbody>
            <% colmeia.forEach(colmeia => { %>
                <tr>
                    <td><%= colmeia.nome%></td>
                    <td><%= colmeia.tipoAbelha%></td>
                    <td><%= colmeia.tamanho%></td>
                    <td><a href="">Editar</a></td>
                    <td><a onclick="return confirm('Deseja mesmo excluir a colmeia <%= colmeia.nome %>?')" href="/Colmeia/delete/<%= colmeia.id %>">Excluir</a></td>
                </tr>
            <% }) %>
            
        </tbody>
    </table>
</div>

<%- include ('partials/footer.ejs')%>